@import "tailwindcss";

/* ======== CONFIGURACIÓN BASE ======== */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="glass"] {
  /* Fondo general translúcido */
  --surface-bg: rgba(0, 0, 0, 0.3);
  --surface-border: rgba(255, 255, 255, 0.15);
  --surface-blur: blur(18px) saturate(160%);

  /* === Inputs sólidos === */
  --input-bg: #be3030;
  --input-text: #1f2937;
  --input-placeholder: #6b7280;
  --input-border: #e5e7eb;
  --input-border-focus: #93c5fd;
  --focus-ring: #93c5fd;

  /* === Botones sólidos === */
  --button-bg: rgba(30, 30, 30, 0.7);
  --button-bg-active: #93c5fd;
  --button-text: #ffffff;
  --button-border: #93c5fd;

  /* === Colores de los containers === */
  --container-border-color: rgba(255, 255, 255, 0.15);
}

/* ======== ESTILO GLOBAL DE LA APP ======== */
main {
  position: relative;
  width: 800px;
  height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;

  /* Fondo cristal oscuro */
  background: var(--surface-bg);
  backdrop-filter: var(--surface-blur);
  -webkit-app-region: drag; /* Permitir mover la ventana */
}

/* ======== ELEMENTOS ======== */
input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--button-text);
  background-color: var(--button-bg);
  transition: border-color 0.25s, background-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-app-region: no-drag;
}

input::placeholder {
  color: var(--input-placeholder);
}

input:focus {
  border-color: var(--input-border-focus);
  outline: none;
}

button:hover {
  border-color: var(--button-border);
}

button:active {
  background-color: var(--button-bg-active);
}

.theme-container {
  border-radius: 16px;
  border: 1px solid var(--container-border-color);
  position: relative;
  overflow: hidden;
}

[data-theme="glass"] .theme-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  transition: opacity 0.5s;
}

[data-theme="glass"] .theme-container:hover::before {
  opacity: 0.2;
}

[data-theme="glass"] .theme-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
}
