@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: #f9fafb;
}

@layer base {
  :root[data-theme="dark"] {
    --color-background: #111827;
  }
  :root[data-theme="light"] {
    --color-background: #f9fafb;
  }
  :root[data-theme="glass"] {
    --color-background: transparent;
  }
}

html,
body {
  @apply bg-background;
}
